#directionline{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FF5555;
  align-items: center;
}

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
