<div fxLayout="row" fxLayoutAlign="space-around center" id="directionline">


<button mat-button [matMenuTriggerFor]="belowMenu">Início</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Brasileirão</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Libertadores</button>
<mat-menu #beforeMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="belowMenu">Europa</button>
<mat-menu #afterMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="beforeMenu">Rastreio</button>
<mat-menu #beforeMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="afterMenu">Cupom de Desconto</button>
<mat-menu #afterMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Cadastro</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item [routerLink]="['/cadastrarproduto']">Cadastro Produto</button>
  </mat-menu>

  <!--
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['cadastrarproduto']">Cadastro Produto</button>
  </mat-menu>

  https://www.figma.com/file/l1QqS2aYhinNEBNEgnxo7J/JerseySport-(Copy)?node-id=7%3A496

!-->

</div>

