<div fxLayout="row" fxLayoutAlign="space-around center" id="directionline">

<button mat-menu-item [routerLinkActive]="['is-active']" [routerLink]="['']">Inicio</button>
<button mat-menu-item [routerLinkActive]="['is-active']" [routerLink]="">Brasileirão</button>
<button mat-menu-item [routerLinkActive]="['is-active']" [routerLink]="">Libertadores</button>
<button mat-menu-item [routerLinkActive]="['is-active']" [routerLink]="">Europa</button>
<button mat-menu-item [routerLinkActive]="['is-active']" [routerLink]="">Rastreio</button>
<button mat-menu-item [routerLinkActive]="['is-active']" [routerLink]="">Cupom de Desconto</button>
<button mat-menu-item [routerLinkActive]="['is-active']" [routerLink]="['/cadastrarproduto']">Cadastro Produto</button>

</div>



<!--

  https://www.figma.com/file/l1QqS2aYhinNEBNEgnxo7J/JerseySport-(Copy)?node-id=7%3A496

!-->
