<router-outlet></router-outlet>

<h1>Brasileirão</h1>
<mat-list-item><a>Nordeste</a></mat-list-item>
<mat-list-item><a>Rio de Janeiro</a></mat-list-item>
<mat-list-item><a>São Paulo</a></mat-list-item>
<mat-list-item><a>Sul</a></mat-list-item>
<mat-list-item><a>Minas</a></mat-list-item> <br>

<h1>Filtrar por</h1><br>
<h3>Cor</h3><br>
<section fxLayout="column" fxLayoutAlign="space-around start">
<mat-checkbox class="example-margin">Amarelo</mat-checkbox>
<mat-checkbox class="example-margin">Azul</mat-checkbox>
<mat-checkbox class="example-margin">Branco</mat-checkbox>
</section>
